body {
    margin: 0;
    overflow: hidden;
    background: radial-gradient(circle at center,#008dd5,#373f51);
}
.head {
    display: flex;
    justify-content: space-evenly;
    background-color: #373f51;
    color: #fff;
}
.unordered-list {
    display: flex;
    list-style-type: none;
    
}
.let {
    margin-top: 2em;
}
.talk {
    border: 0.1em solid;
    padding: 0.5rem;
}
.main {
    display: flex;
    justify-content: center;
}
.text-description {
    border-top: 2px solid #f56476;
    color: #fff;
    padding: 0.7rem;
    margin-top: 0;
}
/* .pictures {
    width: 40%;
    background-color: #008dd5;
} */
li a {
    display: flex;
    padding: 1em; 
    text-decoration: none;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
}
li>a:hover {
        text-shadow: 1px 1px 2px red, 0 0 1em #008dd5, 0 0 0.2em #008dd5;
}
.long-name {
    font-size: 5em;
    margin-bottom: 0;
}
img[alt="profile"] {
    width: 15rem;
    height: 15rem;
    border-radius: 15rem;
    box-sizing: border-box;
    position: absolute;
    left: 8em;
    top: 6rem;
}
.citation{
    margin-bottom: 5em;
    margin-right: 38rem;
    margin-top: 2em;
    
}
.font-oblique {
    font-style: oblique;
    font-size: 1.5em;

}
.font-contain-italique {
    font-style: italic;
    font-size: 1.2em;
    font-weight: bold;
}
.context {
    display: flex;
    justify-content: space-evenly;
}
.experience {
    background-color: #373f51;
    border-radius: 5px;
    position: relative;
    bottom: 3em;
    right: 1em;
    padding: 7px;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, #fff 0px -2px 6px 0px inset;
}
.formation {
    background-color: #373f51;
    position: relative;
    bottom: 3em;
    right: 1em;
    padding: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, #fff 0px -2px 6px 0px inset;
    border-radius: 5px;
}
.competence {
    position: relative;
    background-color: #373f51;
    bottom: 3em;
    padding: 2px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, #fff 0px -2px 6px 0px inset;
    border-radius: 5px;
    width: 10rem;
    right: 1em;
    overflow: hidden;
}
.language {
    background-color: #373f51;
    position: relative;
    padding:15px ;
    bottom: 3em;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, #fff 0px -2px 6px 0px inset;
}
.atouts {
    background-color: #373f51;
    position: relative;
    padding:10px ;
    bottom: 3em;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, #fff 0px -2px 6px 0px inset;
}

.center {
    text-align: center;
    border-bottom: 2px solid #f56476;
}
img[alt="icon"] {
    width: 2em;
    height: 2em;
    background-color: #fff;
}
.contact {
    text-align: center;
    padding-top: 2rem;
    display: flex;
    justify-content: space-evenly;
}
ul {
    list-style-type: none;
}
.display-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.flotte {
    float: left;
}
p {
    color: #fff;
    font-size: 1.2em;
}
.foot {
    width: 100%;
    background-color: #373f51;
    position: absolute;
    bottom: 0px; 
}
@media screen  {
  
    .head {
        display: flex;
        justify-content: space-evenly;
        background-color: #373f51;
        color: #fff;
    }
    .display-flex {
        flex-wrap: wrap;
    }
    .context {
        flex-wrap: wrap;
    }
    
}

