.head {
    display: flex;
    justify-content: space-around;
}
.unordered-list {
    display: flex;
    list-style-type: none;
    
}
li {
    display: flex;
    padding: 1em; 
}
.let {
    margin-top: 2em;
}
.talk {
    border: 0.1em solid;
    padding: 0.5rem;
}
